.col-1 {
  float: left;
  width: 8.333%;
}
.col-2 {
  float: left;
  width: 16.666%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}
