.col-1 {
  float: left;
  width: 8.333%;
}
.col-2 {
  float: left;
  width: 16.667%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-4 {
  float: left;
  width: 33.333%;
}
.col-5 {
  float: left;
  width: 41.667%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}
